$serif-font: 'Amiri', serif;
$sans-serif-font: 'Lato', sans-serif;
$handwriting-font: 'Courgette', cursive;
$primary-color: rgb(124, 23, 172);
$white-text: #fff;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.sans-serif{
    font-family: $sans-serif-font;
}

.serif{
    font-family: $serif-font;
}

.title{
    font-size: 36px;
}

.logo-font{
    font-family: $handwriting-font;
}

.white-text{
    color: $white-text;
}

.black-text{
    color: #333;
}

.gray-text{
    color:#c2c2c2;
}

.primary-color{
    color: $primary-color;
}

button{
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background: none;
    outline: none;
    border: none;
}

.btn--primary{
    background-color: $primary-color;
    color: #fff;
}

.btn--secondary{
    border: 1px solid $primary-color;
    color: $primary-color;
}

header{
    background-color: #333;
    height: 80vh;

    .header__wrapper{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 16%;

        .nav__item{
            margin-left: 25px;
        }
    }

    .hero{
        height: 80%;

        .hero__wrapper{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 35px;

            .hero__title{
                font-size: 38px;
                span{
                    color: $primary-color;
                }
            }

            .buttons{
                margin-top: 30px;

                button{
                    margin: 0 10px;
                }
            }
        }
    }
}

main{
    .about{
        margin-top: 80px;

        .about__wrapper{
            width: 80%;
            margin: 0 auto;
            display: flex;

            .img__container{
                display: flex;
                justify-content: center;
                width: 45%;
                margin-left: 5%;

                .img{
                    width: 100%;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    background-image: url("../images/IMG-20200911-WA0000.jpg");
                    background-image: linear-gradient( rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5) ), url("../images/IMG-20200911-WA0000.jpg");
                    background-size: cover;
                    background-position:right;
                }

            }

            .text__container{
                padding: 30px;
                width: 45%;
                

                p{
                    line-height: 1.5;
                    width: 440px;
                }

                .percentage-text{
                    margin-top: 25px;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    h4{
                        line-height: 1.5;
                    }
                }

                .percentage-bar{
                    width: 100%;
                    height: 3px;
                    background-color: #c2c2c2;
                    position: relative;

                    &::after{
                        content: '';
                        position: absolute;
                        width: 350px;
                        height: 3px;
                        background-color:rgb(124, 23, 172);
                    }
                }
            }
        }
    }

    .work{
        margin-top: 80px;
        padding-top: 40px;
        padding-bottom: 80px;
        background-color: #f3f3f3;

        .work__wrapper{
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cards{
                display: flex;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 25px;

                .card{
                    
                    z-index: 1;
                    width: 30%;
                    margin: 0 20px;
                    height: 250px;
                    border-radius: 5px;
                    background-size: cover;
                    background-position: top center;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    p, h4, .buttons{
                        display: none;
                    }

                    h4{
                        margin-bottom: 10px;
                    }

                    .buttons{
                        margin-top: 15px;
                    }

                    &:first-child{
                        margin-left: 0;
                    }

                    &:last-child{
                        margin-right: 0;
                    }

                    .card_hover{
                        position: absolute;
                        z-index: -2;
                        top: 0;
                        left: 0;
                        height: 0%;
                        width: 100%;
                        border-radius: 5px;
                        background-color:rgba(51, 51, 51, 0.5);
                        transition: 0.8s;

                    }

                    &:hover .card_hover{
                        height: 100%;
                    }

                    &:hover p, &:hover h4, &:hover .buttons{
                        display: flex;
                    }

                    button{
                        width: 120px;
                        margin: 0 6px;
                    }
                }

                .card_1{
                    position: relative;
                    background-image: url("../images/desktop-design.jpg");
                }

                .card_2{
                    position: relative;
                    background-image: url("../images/desktop-design.jpg");
                }

                .card_3{
                    position: relative;
                    background-image: url("../images/desktop-design.jpg");
                }
            }
        }
    }
}